Source: hptkill
Section: mail
Priority: optional
Maintainer: Pavel Andreew <sfpavel@users.sourceforge.net>
Build-Depends: debhelper (>> 4.0.0), libsmapi-dev(>=2.4-1), libfidoconf1-dev(>= 1.4-1)
Standards-Version: 3.6.1

Package: hptkill
Architecture: any
Depends: ${shlibs:Depends}, hpt
Description: Area killer for High Portable Tosser (hpt)
 Area Killer for hpt.
